.introBody{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem;
    background-color: rgb(136, 132, 132, 0.1);
    height: 70vh;
    box-shadow: rgb(136, 132, 132, 0.9);
}
.myPics{
    background: linear-gradient(90deg, #61c86d, #bd77be, #d58025, #2684d6);
    
    animation: moveGradient 5s ease infinite;
    background-size: 800% 800%;
    width: 17rem;
    height: 23rem;
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
.myPic{
    display: flex;
    align-items: end;
    justify-content: center;
   background: linear-gradient(270deg, #61c86d, #bd77be, #d58025, #2684d6);
    /* border-radius: 40%; */
    width: 15rem;
    background-size: 800% 800%;
    height: 18rem;
     animation: moveGradient 10s ease infinite;
     border-radius: 50%;
}

@keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.myPic img{
    width: 18rem;
    height: 20rem;
} 