.headerContainer{
    /* position: fixed; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
     background-color: rgba(179, 157, 184, 0.6);
}
.initials{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.initials p{
    color: white;
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.8rem;
}
.a{
    background-color: rgb(64, 150, 206);
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.header nav a{
    display: flex;
    text-decoration: none;
    color:white; 
    background-color: rgba(195, 192, 192, 0.4);
    border-radius: 3px;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    width: 12rem;
}
.header nav a:hover{
    background-color: rgba(140, 139, 137, 0.8);
}