
.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  transition: all 0.3s ease;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  backdrop-filter: blur(8px);
  background-color: red;
}

/* When user scrolls down */
.headerContainer.scrolled {
  background-color: rgba(221, 219, 222, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: padding 0.3s ease;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.initials p {
  color: white;
  display: flex;
  column-gap: 0.5rem;
  font-size: 1.8rem;
}

.a {
  background-color: rgb(64, 150, 206);
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header nav a {
  display: flex;
  text-decoration: none;
  color: white;

  border-radius: 3px;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  width: 12rem;
  transition: background-color 0.3s ease;
}

.header nav a:hover {
  background-color: rgba(234, 232, 229, 0.4);
}

.themeToggle {
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, color 0.3s ease-in-out;
  color: var(--text-color);
}

/* Add hover rotation effect */
.themeToggle:hover {
  transform: rotate(180deg);
}

/* Optional animation for continuous spin (if you want it always rotating) */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Uncomment this if you want it spinning infinitely */

.themeToggle.spinning {
  animation: spin 2s linear infinite;
}


:global(.section) {
  padding-top: 100px; 
}
