.portfolioBody{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 2rem;
    padding: 5rem;
    background-color: rgb(136, 132, 132, 0.1);
    text-align: center;
     transition: transform 0.4s ease-in-out;
    box-shadow: rgb(136, 132, 132, 0.9);
}
.portfolioBody:hover{
    transform: scale(1.01);
}

.allProject{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    
}
.kingzPlay{
    width: 32rem;
    height: fit-content;
    box-shadow: 1px 1px 1px 3px  rgb(136, 132, 132, 0.5);
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
}
.kingzPlay img{
    width: 23rem;
    height: 46rem;
    border-radius: 1rem;
    padding: 0.2rem;
    border: 3px solid rgb(166, 175, 166);
    background-color: black;
}
.kingzVid{
    width: fit-content;
    height: fit-content;
    box-shadow: 1px 1px 1px 3px  rgb(136, 132, 132, 0.5);
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
}
.kingzVid video{
    width: 32rem;
    height: 36rem;
}
.more{
    background-color: #2684d6;
    width: 12rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.more a{
    text-decoration: none;
    color: white;
}
@keyframes bounceSides {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, -10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
}
.portfolioBody h2,
.portfolioBody b,
.portfolioBody a,
.portfolioBody img,
.portfolioBody video,
.portfolioBody p {
  display: inline-block;
  animation: bounceSides 2s ease-in-out;
}