*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.nav{
  position: fixed;
}
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: background 1s ease;
}


.intro-bg {
  background: linear-gradient(270deg, #ff9966, #ff5e62);
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
}

.work-bg {
  background: linear-gradient(270deg, #43cea2, #185a9d);
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}

.process-bg {
  background: linear-gradient(270deg, #a8ff78, #78ffd6);
  background-size: 200% 200%;
  animation: gradientMove 12s ease infinite;
}

.portfolio-bg {
  background: linear-gradient(270deg, #ff6a00, #ee0979);
  background-size: 200% 200%;
  animation: gradientMove 9s ease infinite;
}

.projectidea-bg {
  background: linear-gradient(270deg, #7f00ff, #e100ff);
  background-size: 200% 200%;
  animation: gradientMove 11s ease infinite;
}

.whatido-bg {
  background: linear-gradient(270deg, #00c6ff, #0072ff);
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}

.contact-bg {
  background: linear-gradient(270deg, #ff7e5f, #feb47b);
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
